<div id="main-nav-bar" class="navi-wrapper">
  <div class="col-sm-12 col-md-4">
    <ul data-hook>
      <li class="navi-logo">
          <a href="#">
            <img src="http://placehold.it/150x55" alt="Our Logo">
          </a>
      </li>
      <li class="navi-text">
          <a href="#">Designs</a>
      </li>
      <li class="navi-text">
          <a href="#">Products</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <ul data-hook>
      <li id="search-bar" class="navi-li" data-hook>
        <%= render partial: 'partials/search' %>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <ul data-hook>
      <% if spree_current_user %>
      <li id="link-to-account" class="navi-text" data-hook="">
        <%= link_to(account_path) do %>
          <span class="glyphicon glyphicon-user"></span> <%= Spree.t(:account) %>
        <% end %>
      </li>
      <li class="navi-text">
        <%= link_to(spree_logout_path) do %>
          <span class="glyphicon glyphicon-eject"></span> <%= Spree.t(:logout) %>
        <% end %>
      </li>
      <li id="link-to-cart" class="navi-text" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        <script>Spree.fetch_cart()</script>
        &nbsp;
      </li>
      <% else %>
      <li class="navi-text">
        <%= link_to(spree_login_path) do %>
          <span class="glyphicon glyphicon-fire"></span> <%= Spree.t(:login) %>
        <% end %>
      </li>
      <li class="navi-text">
        <%= link_to(spree_signup_path) do %>
          <span class="glyphicon glyphicon-heart"></span> <%= Spree.t(:signup) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
